#contact-us {
  background-color: var(--section-background-white);
  padding: 60px 20px;
  text-align: center;
}

#contact-us h2 {
  font-size: 2em;
	margin: 20px auto;
	align: center;
}

#contact-us {
	align-items: center;
	text-align: left;
}

#contact-us td {
	padding: 5px 20px;
}

#contact-us input {
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
}

.contact-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1400px;
	margin:auto;
}

.contact-details {
  margin: 0px 20px;
}

.contact-form {
	display: grid;
	max-width: 740px;
}

.contact-info {
	flex: 1;
	min-width: 300px;
}
