#contact-us {
  background-color: var(--section-background-white);
  padding: 60px 20px;
  text-align: center;
}

#contact-us h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#contact-us {
	align-items: center;
	text-align: left;
}

#contact-us td {
	padding: 5px 20px;
}

#contact-us input {
	width: 100%;
	padding: 5px;
}

.contact-details {
  margin: 0px 20px;
}

.contact-form {
	display: grid;
	justify-content: center;
}
