<section id="contact-us">
	<h2>Contact Us</h2>
	<p>
		Ready to Transform Your Business with Intelligent Edge Solutions?
		Take the first step towards innovation.
	</p>
	<div class="contact-form">

		<h3>Start a conversation now!</h3>
		<div class="contact-details">
			<p><b>Email: </b><a href='mailto:info@edgepulsar.com?subject=Contact%20Information%20Inquiry'>info&#64;edgepulsar.com</a></p>
			<p><b>Phone: </b><a href='tel:+33.66.55.44.803'>+33.66.55.44.803</a></p>
			<p><b>Address: </b>2 rue Jean Mermoz, 91080 Évry-Courcouronnes <button onclick="mapFrame.style.display = 'block';" style="padding: 2px;">Show Map</button></p>
			<iframe id=mapFrame src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10549.06140555841!2d2.4034634!3d48.6239041!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5de72bcfac68d%3A0x8b2b65927d3ee18b!2s2%20Rue%20Jean%20Mermoz%2C%2091080%20%C3%89vry-Courcouronnes!5e0!3m2!1sfr!2sfr!4v1744446493117!5m2!1sfr!2sfr" width=680 height=440 loading=lazy hidden></iframe>
		</div>
		<h3>Let us contact you back!</h3>
	<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
		<table>
			<tr>
				<td>
					<label for="first_name">First Name:</label>
					<input type="text" id="first_name" name="first_name" ngModel required>
				</td>
				<td>
					<label for="last_name">Last Name:</label>
					<input type="text" id="last_name" name="last_name" ngModel required>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<label for="email">E-mail Address:</label>
					<input type="email" id="email" name="email" ngModel required>
				</td>
			</tr>
			<tr>
				<td>
					<label for="company_name">Company Name:</label>
					<input type="text" id="company_name" name="company_name" ngModel required>
				</td>
				<td>
					<label for="phone_number">Professional Phone Number:</label>
					<input type="tel" id="phone_number" name="phone_number" ngModel required>
				</td>
			</tr>
		</table>
		<button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
	</form>
	</div>
</section>
