<section id="hero">
	<h1>Your Partner for a Secure and Intelligent Edge</h1>
	<p>Empowering organizations to build secure, intelligent and high-performance edge computing solutions with seamless cloud integration.</p>
	<!--div class="slider" *ngFor="let sector of [energy, mobility]">
		<img src="assets/images/EdgePulsarBox-in-{{ sector }}-sector.jpg" alt="Edge Computing Hero Image">
	</div-->
	<div class="slider">
		<img [src]="imagePath(0)" alt="Edge Computing Hero Image">
		<img [src]="imagePath(1)" alt="Edge Computing Hero Image">
		<img [src]="imagePath(2)" alt="Edge Computing Hero Image">
		<img [src]="imagePath(3)" alt="Edge Computing Hero Image">
	</div>
</section>
