<section id="hero">
	<h1>Unlock the Power of Edge Intelligence</h1>
	<div class="slider">
		<img [src]="imagePath(0)" alt="{{ alt }}">
		<!--img [src]="imagePath(1)" alt="Edge Computing Hero Image">
		<img [src]="imagePath(2)" alt="Edge Computing Hero Image">
		<img [src]="imagePath(3)" alt="Edge Computing Hero Image"-->
	</div>
	<p><i>From strategy to deployment — Edge Pulsar builds the smartest edge solutions for your business.</i></p>
	<p>We help you design, integrate, and scale AI-powered edge systems across industries, using state-of-the-art technologies.</p>
</section>
