	<app-hero [images]="['Hero_1.png', 'Hero_2.png','Hero_3.png', 'Hero_4.png', 'Hero_5.png', 'Hero_6.png']" alt="Edge Computing Hero Image"></app-hero>

	<app-offers></app-offers>
	<app-solutions></app-solutions>
	<app-about-us></app-about-us>

  <section id="resources">
    <h2>Resources</h2>
    <p>Deepen your understanding of edge computing and intelligent IoT solutions with our library of resources.</p>
    <div class="resources-grid">
      <!&ndash; Resource 1 &ndash;>
      <div class="resource-item">
        <h3>Whitepapers</h3>
        <p>Download in-depth whitepapers on key edge computing topics and trends.</p>
        <a href="#">Explore Whitepapers</a>
      </div>

      <!&ndash; Resource 2 &ndash;>
      <div class="resource-item">
        <h3>Case Study Library</h3>
        <p>Access a comprehensive library of case studies showcasing successful edge solution deployments.</p>
        <a href="#">View Case Studies</a>
      </div>

      <!&ndash; Resource 3 &ndash;>
      <div class="resource-item">
        <h3>Webinars & Events</h3>
        <p>Register for upcoming webinars and view recordings of past events.</p>
        <a href="#">Upcoming Events</a>
      </div>
    </div>
  </section>
	<app-contact-us></app-contact-us>
