<section id='offers' class='card-frame'>
	<h2>Offers</h2>
	<p>Discover Edge Pulsar’s tailored services — designed to accelerate your edge journey and deliver measurable business impact.</p>

	<div class="cards-grid">
		<a routerLink="/build" class="card-box">
			<app-flip-card icon='brain' title='Build Smarter'>
				<h4>You’re designing next-gen edge systems with confidence.</h4>
				<ul>
					<li><b>We help you accelerate innovation with strategic architecture, embedded AI, and seamless hardware-software integration</b> — tailored to your product roadmap.</li>
					<li><b>🔧 Includes —</b> Edge Strategy, AI Optimization, Hardware Integration, Firmware Development</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Drive Intelligent Edge Innovation</a>
		</a>

		<a routerLink="/connect" class="card-box">
			<app-flip-card icon='globe-with-meridians' title='Connect &amp; Deploy'>
				<h4>Seamlessly orchestrate your edge ecosystem from device to cloud.</h4>
				<ul>
					<li><b>We help you streamline connectivity, data flows, and network orchestration</b> — so you can scale your edge network with confidence and clarity.</li>
					<li><b>📡 Includes —</b> IoT Connectivity, Data & Analytics, Orchestration, Monitoring</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Unify and Scale Your Edge Network</a>
		</a>

		<a routerLink="/secure" class="card-box">
			<app-flip-card icon='lock' title='Secure &amp; Validate'>
				<h4>Protect what matters across the edge — with zero-trust security and compliance.</h4>
				<ul>
					<li><b>We safeguard your edge infrastructure</b> — with real-time threat detection, data privacy, and rigorous validation workflows.</li>
					<li><b>🛡️ Includes —</b> Security, Threat Response, Encryption, Testing</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Fortify Your Edge with Confidence</a>
		</a>

		<a routerLink="/custom" class="card-box">
			<app-flip-card icon='light-bulb' title='Custom Design'>
				<h4>Co-develop custom edge solutions from chip to system.</h4>
				<ul>
					<li><b>We work side by side with you</b> — from chip selection to turnkey deployment — to deliver tailored, energy-efficient designs at scale.</li>
					<li><b>🛠️ Includes —</b> Chip Selection, Energy Optimization, Custom Development</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Create Bespoke Edge Solutions</a>
		</a>
	</div>
</section>
