<section id='offers' class='card-frame'>
	<h2>Offers</h2>
	<p>Discover Edge Pulsar’s tailored services — designed to accelerate your edge journey and deliver measurable business impact.</p>

	<div class="cards-grid">
		<a routerLink="/build" class="card-box">
			<app-flip-card icon='brain' title='Build Intelligent Edge Solutions'>
				<h4>Plan, optimize, and integrate your edge solutions with confidence.</h4>
				<ul class="card-features">
					<li>Edge Strategy &amp; Architecture</li>
					<li>Embedded AI &amp; Optimization</li>
					<li>Hardware &amp; Sensor Integration</li>
					<li>Firmware &amp; Software Development</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Learn More</a>
		</a>

		<a routerLink="/connect" class="card-box">
			<app-flip-card icon='globe-with-meridians' title='Connect &amp; Orchestrate the Edge'>
				<h4>Seamlessly manage and connect your entire edge network.</h4>
				<ul class="card-features">
					<li>IoT &amp; Connectivity Layer</li>
					<li>Edge Orchestration &amp; Deployment</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Learn More</a>
		</a>

		<a routerLink="/secure" class="card-box">
			<app-flip-card icon='lock' title='Secure Your Edge'>
				<h4>Protect your edge assets with robust security measures.</h4>
				<ul class="card-features">
					<li>Edge Security &amp; Compliance</li>
					<li>Testing &amp; Validation</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Learn More</a>
		</a>

		<a routerLink="/custom" class="card-box">
			<app-flip-card icon='light-bulb' title='Custom Design Enablement'>
				<h4>Partner with us for chip selection, co-development, and turnkey solutions.</h4>
				<ul class="card-features">
					<li>Chip Selection &amp; Co-Development</li>
					<li>Energy Optimization &amp; Manufacturing</li>
					<li>Support, Training &amp; Certification</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Learn More</a>
		</a>
	</div>
</section>
