<section id='offers' class='card-frame'>
	<h2>Offers</h2>
	<p>Discover Edge Pulsar’s tailored services designed to accelerate your edge journey and deliver measurable business impact.</p>

	<div class="cards-grid">
		<a routerLink="/build" class="card-box">
			<app-flip-card icon='brain' heading='Build Smarter' [images]="['Offer_01.png']" path='assets/images/{image}'>
				<h4>You’re designing next-gen edge systems with confidence.</h4>
				<ul>
					<li><b>We accelerate your innovation — </b>with <u>strategic architecture</u>, <u>embedded AI</u> and seamless <u>HW/SW integration</u> tailored to your product roadmap.</li>
					<li><b><font face="Noto Color Emoji">🔧</font> Includes —</b> Edge Strategy, Hardware Integration, Firmware Development, AI Optimization</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Drive Intelligent Edge Innovation</a>
		</a>

		<a routerLink="/connect" class="card-box">
			<app-flip-card icon='globe-with-meridians' heading='Connect & Deploy' [images]="['Offer_02.png']" path='assets/images/{image}'>
				<h4>Seamlessly orchestrate edge ecosystem from device to cloud.</h4>
				<ul>
					<li><b>We help you streamline — </b><u>connectivity</u>, <u>data flows</u> and <u>network orchestration</u> so that you can scale your edge network with confidence and clarity.</li>
					<li><b><font face="Noto Color Emoji">📡</font> Includes —</b> IoT Connectivity, Data & Analytics, Orchestration, Monitoring</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Unify and Scale Your Edge Network</a>
		</a>

		<a routerLink="/secure" class="card-box">
			<app-flip-card icon='lock' heading='Secure & Validate' [images]="['Offer_03.png']" path='assets/images/{image}'>
				<h4>Protect what matters across the edge using zero-trust security.</h4>
				<ul>
					<li><b>We protect your edge infrastructure — </b>safeguarding them from  threats with <u>real-time detection</u> of intrusions, <u>data privacy</u> and rigorous <u>validation workflows</u>.</li>
					<li><b><font face="Noto Color Emoji">🛡️</font> Includes —</b> Security, Threat Response, Encryption, Testing</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Fortify Your Edge with Confidence</a>
		</a>

		<a routerLink="/custom" class="card-box">
			<app-flip-card icon='light-bulb' heading='Custom Design' [images]="['Offer_04.png']" path='assets/images/{image}'>
				<h4>Co-develop custom edge solutions from chip to system.</h4>
				<ul>
					<li><b>We work side by side with you — </b>from chip selection to <u>turnkey deployment</u> to deliver <u>tailored</u>, <u>energy-efficient</u> designs at scale.</li>
					<li><b><font face="Noto Color Emoji">🛠️</font> Includes —</b> Chip Selection, Energy Optimization, Custom Development</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#contact-us">Create Bespoke Edge Solutions</a>
		</a>
	</div>
</section>
