<header>
  <nav>
    <img class="logo" src='EdgePulsarLogo.png'>
    <ul>
      <li><a href="#hero">Home</a></li>
      <li>
			<a href="#offers">Offers</a>
      </li>
      <li><a href="#solutions">Solutions</a></li>
		<li><a href="#about-us">About Us</a>
			<ul>
				<li>
					<a href="#our-team">Our Team</a>
				</li>
			</ul>
		</li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </nav>
  <!-- Hero section moved to main -->
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <section id="call-to-action">
    <h2>Ready to Transform Your Business with Intelligent Edge Solutions?</h2>
    <p>Take the first step towards innovation. Contact us today to explore how Edge Pulsar can help you build, deploy, and secure cutting-edge edge computing solutions.</p>
    <div class="cta-buttons">
		<a href=#contact-us><button>Contact Us for Edge Development</button></a>
    </div>
  </section>
</footer>
