<header>
  <nav>
    <img class="logo" src='EdgePulsarLogo.png'>
    <ul>
      <li><a href="#hero">Home</a></li>
      <li>
        <a href="#build-deploy-secure-framework">Offers</a>
        <ul>
          <li><a routerLink="/build">Build</a></li>
          <li><a routerLink="/run">Run</a></li>
          <li><a routerLink="/secure">Secure</a></li>
        </ul>
      </li>
      <li><a href="#solutions-snippets">Services</a></li>
      <li><a href="#case-studies">Case Studies</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#resources">Resources</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </nav>
  <!-- Hero section moved to main -->
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <section id="call-to-action">
    <h2>Ready to Transform Your Business with Intelligent Edge Solutions?</h2>
    <p>Take the first step towards innovation. Contact us today to explore how Edge Pulsar can help you build, deploy, and secure cutting-edge edge computing solutions.</p>
    <div class="cta-buttons">
      <button class="primary-button">Explore Our Build Services</button>
      <button class="secondary-button">Contact Us for Edge Development</button>
    </div>
  </section>
</footer>
