<section id='solutions' class='card-frame'>
	<h2>Solutions</h2>
	<p>Explore how Edge Pulsar's solutions have helped businesses like yours achieve success.</p>

	<div class="offers-horizontal-container">
		<a routerLink="/build" class="card-box">
			<app-flip-card icon='factory' title='Industry 4.0' [interval]="3000" path='assets/images/solutionsForIndustry-{image}.png' [images]="['1', '2']">
				<h4>You’re powering next generation of industry.</h4>
				<ul>
					<li><b>We help you accelerate innovation —</b> with <u>edge AI, real-time dataflows</u>, and <u>predictive intelligence</u>, tailored to integrate seamlessly with your <u>OT/IT stack</u>.</li>
					<li><b>From machines to MES —</b> we bring <u>scalable edge</u> expertise that <u>enhances solutions</u> you provide to your customers.</li>
					<li><b>🔍 Use Cases —</b> Factory Digitization, Predictive Maintenance, Real-Time Quality Control, Machine Learning at the Edge, OT/IT Integration.</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Build Smarter Factories solutions</a>
		</a>

		<a routerLink="/build" class="card-box">
			<app-flip-card icon='car' title='Automotive' [interval]="3000" path='assets/images/solutionsForAutomotive-{image}.png' [images]="['1', '2', '3']">
				<h4>You’re building the future of mobility.</h4>
				<ul>
					<li><b>We help you go further —</b> with <u>edge-native intelligence</u>, <u>real-time dataflows</u> and <u>seamless deployment</u> at scale.</li>
					<li><b>From fleet telematics to in-vehicle AI to V2X —</b> we bring the <u>edge expertise</u> so that you can <u>drive innovation faster</u>.</li>
					<li>🔍 <b>Use Cases —</b> Fleet Telematics, In-Vehicle AI, V2X Communication, Safety Systems.</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Accelerate Automotive at the Edge</a>
		</a>

		<a routerLink="/build" class="card-box">
			<app-flip-card icon='truck' title='Logistics' [interval]="3000" path='assets/images/solutionsForLogistics-{image}.jpg' [images]="['1', '2', '3']">
				<h4>You build next-gen logistics.</h4>
				<ul>
					<li><b>We help you go further —</b> with <u>edge-native intelligence</u>, <u>real-time dataflows</u>, and <u>seamless deployment</u> at scale.</li>
					<li><b>From tracking to forecasting to automation —</b> we bring the <u>edge expertise</u> so that you can focus on delivering <u>smarter supply chains</u>.</li>
					<li>🔍 <b>Use Cases —</b> Smart Tracking, Forecasting, Warehouse Automation, Fleet Visibility.</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Smarter Logistics Starts Here</a>
		</a>
	</div>

	<div class="offers-horizontal-container">
		<a routerLink="/build" class="card-box">
			<app-flip-card icon='circuit' title='Electronics' [interval]="3000" path='assets/images/solutionsForElectronics-{image}.jpg' [images]="['1']">
				<h4>You create intelligent devices.</h4>
				<ul>
					<li><b>We help you go further —</b> with <u>embedded AI</u>, <u>sensor fusion</u>, and <u>edge-ready software</u> that runs <u>lean</u>, <u>fast</u>, and <u>secure</u>.</li>
					<li><b>From wearables to smart appliances —</b> we bring <u>performance</u> to the edge so that your <u>products stand out in any market</u>.</li>
					<li>🔍 <b>Use Cases —</b> Wearables, Smart Appliances, Sensor Fusion, Device Security.</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Power Your Devices with Edge Intelligence</a>
		</a>

		<a routerLink="/build" class="card-box">
			<app-flip-card icon='battery' title='Energy' [interval]="3000" path='assets/images/solutionsForEnergy-{image}.jpg' [images]="['1']">
				<h4>You’re building smarter grids and systems.</h4>
				<ul>
					<li><b>We help you go further —</b> with optimizing <u>edge computing in the field</u>, enabling <u>real-time insights</u>, <u>remote diagnostics</u> and <u>autonomous control</u> in harsh environments.</li>
					<li><b>From asset monitoring to predictive maintenance —</b> we help your <u>energy infrastructure</u> run <u>smarter</u>, <u>cleaner</u>, and <u>faster</u>.</li>
					<li>🔍 <b>Use Cases —</b> Asset Monitoring, Predictive Maintenance, Energy Consumption Analytics, Autonomous Control</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Power Your Edge Strategy</a>
		</a>

		<a routerLink="/build" class="card-box">
			<app-flip-card icon='nurse' title='Healthcare' [interval]="3000" path='assets/images/solutionsForHealthcare-{image}.jpg' [images]="['1']">
				<h4>You’re building life-saving solutions.</h4>
				<ul>
					<li><b>We help you go further —</b> with <u>AI and IoT</u> solutions deployed <u>securely at the edge</u>, enabling <u>smarter diagnostics</u>, <u>real-time monitoring</u>, and <u>fast decisions</u> where they matter most.</li>
					<li><b>From medical devices to hospital networks —</b> we bring <u>edge expertise</u> with <u>compliance and care</u> built in.</li>
					<li>🔍 <b>Use Cases —</b> Smart Diagnostics · Real-Time Monitoring · Medical Device Optimization · Compliance Management</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Advance Healthcare, One Edge at a Time</a>
		</a>
	</div>
</section>
