<section id='solutions' class='card-frame'>
	<h2>Solutions</h2>
	<p>Explore how Edge Pulsar's solutions have helped businesses like yours achieve success.</p>

	<div class="offers-horizontal-container">
		<a routerLink="/build" class="card-box">
			<section class="card-content">
				<i class="solution-icon factory"></i>
				<h3 class="phase-heading">Industry 4.0</h3>
				<ul>
					<li>The Challenge: Optimizing production efficiency and securing operational technology (OT).</li>
					<li>Our Edge Advantage: Expert implementation of real-time industrial supervision, AI-powered predictive maintenance, and robust OT cybersecurity. We deliver solutions that achieve lights-out manufacturing with AI-powered quality control, reducing downtime and defects.</li>
				</ul>
				<a class="learn-more-link" href="#">Learn more</a>
			</section>
		</a>

		<a routerLink="/build" class="card-box">
			<section class="card-content">
				<i class="solution-icon bus"></i>
				<h3 class="phase-heading">Mobility</h3>
				<ul>
					<li>The Challenge: Enabling intelligence and security in dynamic, resource-constrained environments.</li>
					<li>Our Edge Advantage: Expert development and deployment of embedded edge computing applications for real-time video analytics, enhanced passenger safety, and robust security for connected vehicles and infrastructure. We accelerate ADAS development with pre-validated AI modules and ensure compliance.</li>
				</ul>
				<a class="learn-more-link" href="#">Learn more</a>
			</section>
		</a>

		<a routerLink="/build" class="card-box">
			<app-flip-card icon='solution-icon truck' title='Logistics' [interval]="3000" path='assets/images/solutionsForLogistics-{image}.jpg' [images]="['1', '2', '3']">
				<h4>You build next-gen logistics.</h4>
				<ul>
					<li><b>We help you go further —</b> with edge-native intelligence, real-time dataflows, and seamless deployment at scale.</li>
					<li><b>From tracking to forecasting to automation —</b> we bring the edge expertise so you can focus on delivering smarter supply chains.</li>
					<li>🔍 <b>Use Cases —</b> Smart Tracking, Forecasting, Warehouse Automation, Fleet Visibility.</li>
				</ul>
			</app-flip-card>
			<a class="learn-more-link" href="#">Smarter Logistics Starts Here</a>
		</a>
	</div>

	<div class="offers-horizontal-container">
		<a routerLink="/build" class="card-box">
			<section class="card-content">
				<i class="solution-icon factory"></i>
				<h3 class="phase-heading">Electronics</h3>
				<ul>
					<li>The Challenge: Optimizing production efficiency and securing operational technology (OT).</li>
					<li>Our Edge Advantage: Expert implementation of real-time industrial supervision, AI-powered predictive maintenance, and robust OT cybersecurity. We deliver solutions that achieve lights-out manufacturing with AI-powered quality control, reducing downtime and defects.</li>
				</ul>
				<a class="learn-more-link" href="#">Learn more</a>
			</section>
		</a>
		<a routerLink="/build" class="card-box">

			<section class="card-content">
				<i class="solution-icon battery"></i>
				<h3 class="phase-heading">Energy</h3>
				<ul>
					<li>he Challenge: Ensuring the resilience and security of vital infrastructure.</li>
					<li>Our Edge Advantage: Expert implementation of highly resilient edge deployments for continuous monitoring, secure data acquisition, and localized control. We deliver intelligent infrastructure monitoring solutions that reduce energy consumption and maintenance costs.</li>
				</ul>
				<a class="learn-more-link" href="#">Learn more</a>
			</section>
		</a>

		<a routerLink="/build" class="card-box">
			<section class="card-content">
				<i class="solution-icon nurse"></i>
				<h3 class="phase-heading">Healthcare</h3>
				<ul>
					<li>The Challenge: Leveraging connected devices and AI while adhering to strict data privacy regulations.</li>
					<li>Our Edge Advantage: Secure and compliant edge solutions for connected medical devices and embedded AI for diagnostics, delivered with expert implementation and management to ensure patient data protection.</li>
				</ul>
				<a class="learn-more-link" href="#">Learn more</a>
			</section>
		</a>
	</div>
</section>
