	<app-hero title="Unlock the Power of Edge Intelligence" [images]="['Hero_1.png', 'Hero_2.png','Hero_3.png', 'Hero_4.png', 'Hero_5.png', 'Hero_6.png']" alt="Edge Computing Hero Image">
		<p><i>From strategy to deployment — Edge Pulsar builds the smartest edge solutions for your business.</i></p>
		<p>We help you design, integrate, and scale AI-powered edge systems across industries, using state-of-the-art technologies.</p>
	</app-hero>
	<app-offers></app-offers>
	<app-solutions></app-solutions>
	<app-about-us></app-about-us>
	<app-contact-us></app-contact-us>
