	<app-hero heading="Unlock Edge Intelligence with Secure Embedded Systems" [images]="['Hero_1.png', 'Hero_2.png','Hero_3.png', 'Hero_4.png', 'Hero_5.png', 'Hero_6.png']" alt="Edge Computing Hero Image">
		<p><i>Edge Pulsar builds the most robust embedded edge solutions, establishing the trusted, hardened foundation for true edge intelligence with ground-up security and reliability.</i></p>
		<p>From initial strategy to secure, scalable deployment, we design, integrate, and deliver critical solutions spanning embedded systems, robust connectivity, and seamless cloud integration, empowering industries with state-of-the-art technologies.</p>
	</app-hero>
	<app-offers></app-offers>
	<app-solutions></app-solutions>
	<app-about-us></app-about-us>
	<app-contact-us></app-contact-us>
