#resources {
	padding: 40px 20px;
	background-color: var(--section-background-light);
	margin-bottom: 20px;
}

.resources-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid for resources */
	gap: 20px;
}

.resource-item {
	padding: 20px;
	background-color: var(--section-background-white);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.resource-item h3 {
	color: var(--primary-blue);
	margin-bottom: 10px;
}

.resource-item p {
	color: var(--text-color-light);
}

.resource-item a {
	display: inline-block;
	margin-top: 10px;
	color: var(--accent-blue);
	text-decoration: none;
	font-weight: 500;
}
